In [ ]:
from IPython.display import display
import pandas as pd

data_folder = "./ml-20m"

ratings_df = pd.read_csv(data_folder + "/ratings.csv")
movies_df = pd.read_csv(data_folder + "/movies.csv")

ratings_df = ratings_df.rename(columns={'userId': 'user', 'movieId': 'item'})
movies_df = movies_df.rename(columns={'movieId': 'item', 'title': 'title_original'})

In [ ]:
def compute_title_year(row):
    # read the title of the specified row, and cast it to the str type,
    # then use the strip() method to eliminate the spaces from the beginning and the end of the string
    title_original = str(row['title_original']).strip()

    # select the substring from the fifth-to-last (included) character to the last (excluded)
    year = title_original[-5:-1]

    # use the isdigit method to determine if the substring selected is a number
    if year.isdigit():
        # remove the year from the title
        # select the substring from the beninning to the sixth-to-last (excluded)
        # then use the strip() method to remove spaces at the beginning and at the end of the string
        # finally, use the lower() method to obtain the title in lower case
        title = title_original[:-6].strip().lower()

        # return the year and the title
        return int(year), title
    else:
        # nothing to do, return 0 as year and the title
        return 0, title_original.lower()


movies_df[['year', 'title']] = movies_df.apply(compute_title_year, axis=1, result_type='expand')
movies_df = movies_df[['item', 'title', 'year', 'genres']]
display(movies_df)

In [ ]:
movies_df = movies_df.drop_duplicates(subset='title', keep='first')

# Join the ratings to the genres
ratings_genres_df = pd.merge(movies_df, ratings_df,  how='inner', left_on=['item'], right_on = ['item'])
ratings_genres_df = ratings_genres_df[['item', 'user', 'rating', 'title', 'genres']]

# keep only the user and genres
user_genres = ratings_genres_df.loc[:, ['user', 'genres']]

# Create a user only dataframe
user_df = user_genres.drop_duplicates(subset=['user'], keep='first')
user_df = user_df['user']
user_df = pd.DataFrame(user_df)
user_df = user_df.set_index('user')
user_df = user_df.sort_index(ascending=True)

user_genres = user_genres.set_index('user')
user_genres = user_genres.sort_values(by="user", ascending=True)

display(user_genres)
display(user_df)
display(ratings_df)

In [4]:
import numpy as np

def count_rated_genres(user_id, df):

    user_genre = df.loc[user_id,:]
    rated_genres = set()

    for genre in user_genre.genres:
        rated_genres.update(genre.split('|'))

    return len(rated_genres)

user_genres_rated = []
for user in user_df.index:
     user_genres_rated.append(count_rated_genres(user, user_genres))

In [5]:
user_genres_rated_df = pd.DataFrame({
    'user' : user_df.index.tolist(),
    'genres_rated' : user_genres_rated
})

display(user_genres_rated_df)

mean_genres_rated = np.mean(user_genres_rated)
print(mean_genres_rated)
user_genres_rated_df = user_genres_rated_df[user_genres_rated_df['genres_rated'] > mean_genres_rated]

display(user_genres_rated_df)

          user  genres_rated
0            1            17
1            2            18
2            3            18
3            4            15
4            5            17
...        ...           ...
138488  138489            17
138489  138490            18
138490  138491            14
138491  138492            17
138492  138493            19

[138493 rows x 2 columns]

16.360133725170225

          user  genres_rated
0            1            17
1            2            18
2            3            18
4            5            17
6            7            18
...        ...           ...
138486  138487            17
138488  138489            17
138489  138490            18
138491  138492            17
138492  138493            19

[75487 rows x 2 columns]

In [6]:
count_ratings = ratings_df.groupby(['user']).count()
selected = count_ratings['rating'] > count_ratings['rating'].mean()

expert_users = count_ratings.loc[selected]
expert_users = pd.DataFrame(expert_users)
expert_users = expert_users.reset_index()
expert_users = expert_users.merge(user_genres_rated_df, how='inner', left_on='user', right_on='user')
expert_users = expert_users.drop(['timestamp', 'item'], axis=1)
expert_users.rename(columns={'rating' : 'num_ratings'}, inplace=True)

display(expert_users)

         user  num_ratings  genres_rated
0           1          175            17
1           3          187            18
2           7          276            18
3          11          504            19
4          14          243            17
...       ...          ...           ...
35870  138483          276            19
35871  138484          148            18
35872  138486          193            18
35873  138490          151            18
35874  138493          373            19

[35875 rows x 3 columns]

In [8]:

genre_set = set()
for genres in ratings_genres_df.genres:
    genre_set.update(genres.split('|'))

In [9]:
genre_df = ratings_genres_df[['item', 'genres']]
genre_df = pd.DataFrame(genre_df)

i = 2
for genre in genre_set:
    genre_df.insert(i, genre, False)
    i += 1

genre_df = genre_df.drop_duplicates(subset='item', keep='first')
genre_df = genre_df.set_index('item')

display(genre_df)

,genres,Animation,Fantasy,War,Romance,Action,Sci-Fi,Musical,Thriller,Mystery,...,(no genres listed),Crime,Film-Noir,Drama,Adventure,Horror,Western,Documentary,IMAX,Children
item,,,,,,,,,,,,,,,,,,,,,
1,Adventure|Animation|Children|Comedy|Fantasy,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Adventure|Children|Fantasy,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Comedy|Romance,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Comedy|Drama|Romance,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,Comedy,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131252,Comedy|Horror,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131254,Comedy,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131256,Comedy,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131258,Adventure,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131260,(no genres listed),False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:

for item in genre_df.index:
    genres = genre_df.loc[item, 'genres']
    genre_list = genres.split('|')
    for genre in genre_list:
        genre_df.at[item, genre] = True

genre_df = genre_df.drop(['genres'], axis=1)
genre_df = genre_df.reset_index()

display(genre_df)

,item,Animation,Fantasy,War,Romance,Action,Sci-Fi,Musical,Thriller,Mystery,...,(no genres listed),Crime,Film-Noir,Drama,Adventure,Horror,Western,Documentary,IMAX,Children
0,1,True,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
1,2,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
2,3,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,4,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,5,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25700,131252,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
25701,131254,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25702,131256,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25703,131258,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
25704,131260,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [11]:
tags_df = pd.DataFrame(pd.read_csv(data_folder + "/tags.csv"))
tags_df = tags_df.rename(columns={'movieId': 'item'})
tags_df = tags_df.drop(['timestamp', 'userId'], axis=1)
tags_df = tags_df.sort_values(by="item", ascending=True)
tags_df = tags_df.set_index('item')
# tags_df.index = np.arrange(len(tags_df.index))
display(tags_df)

               tag
item
1       friendship
1        animation
1         animated
1        adventure
1        animation
...            ...
131258       Korea
131258     bandits
131258       whale
131258     pirates
131258      mutiny

[465564 rows x 1 columns]

Method to find power set of favourite movies

In [22]:
def clean_tags(row):
    return str(row['tag']).strip().lower()

tags_df['tag'] = tags_df.apply(clean_tags, axis=1, result_type='expand')
display(tags_df)

               tag
item
1       friendship
1        animation
1         animated
1        adventure
1        animation
...            ...
131258       korea
131258     bandits
131258       whale
131258     pirates
131258      mutiny

[465564 rows x 1 columns]

In [41]:
average_rating = {}
for item in list(movies_df.item):
    item_rating = ratings_df.loc[ratings_df['item'] == item]
    average_rating[item] = round(np.mean(item_rating.rating), 1)


display(average_rating)

{1: 3.9,
 2: 3.2,
 3: 3.2,
 4: 2.9,
 5: 3.1,
 6: 3.8,
 7: 3.4,
 8: 3.1,
 9: 3.0,
 10: 3.4,
 11: 3.7,
 12: 2.6,
 13: 3.3,
 14: 3.4,
 15: 2.7,
 16: 3.8,
 17: 4.0,
 18: 3.4,
 19: 2.6,
 20: 2.9,
 21: 3.6,
 22: 3.3,
 23: 3.1,
 24: 3.2,
 25: 3.7,
 26: 3.6,
 27: 3.4,
 28: 4.1,
 29: 4.0,
 30: 3.6,
 31: 3.3,
 32: 3.9,
 33: 3.0,
 34: 3.6,
 35: 3.5,
 36: 3.9,
 37: 3.0,
 38: 2.9,
 39: 3.4,
 40: 3.6,
 41: 3.9,
 42: 3.1,
 43: 3.5,
 44: 2.7,
 45: 3.4,
 46: 3.3,
 47: 4.1,
 48: 2.9,
 49: 3.6,
 50: 4.3,
 51: 2.6,
 52: 3.5,
 53: 3.7,
 54: 2.9,
 55: 3.2,
 56: 1.9,
 57: 3.3,
 58: 4.0,
 59: 3.6,
 60: 3.1,
 61: 3.3,
 62: 3.7,
 63: 3.1,
 64: 2.8,
 65: 2.4,
 66: 2.1,
 67: 3.4,
 68: 3.4,
 69: 3.6,
 70: 3.3,
 71: 2.4,
 72: 3.5,
 73: 3.8,
 74: 3.3,
 75: 2.5,
 76: 3.0,
 77: 3.4,
 78: 3.2,
 79: 3.1,
 80: 3.7,
 81: 3.3,
 82: 4.0,
 83: 3.7,
 84: 3.4,
 85: 3.5,
 86: 3.5,
 87: 2.4,
 88: 3.1,
 89: 3.1,
 90: 3.4,
 92: 2.9,
 93: 2.5,
 94: 3.5,
 95: 3.1,
 96: 3.7,
 97: 4.0,
 98: 2.5,
 99: 3.1,
 100: 3.2,
 101: 3.8,
 102: 2.4,
 103: 3.3,
 104: 3.4,
 105: 3.3,
 106: 3.4,
 107: 3.2,
 108: 3.1,
 109: 2.1,
 110: 4.0,
 111: 4.1,
 112: 3.4,
 113: 3.1,
 114: 3.6,
 115: 3.4,
 116: 3.9,
 117: 3.6,
 118: 3.0,
 119: 2.8,
 120: 2.9,
 121: 3.8,
 122: 2.9,
 123: 4.0,
 124: 3.5,
 125: 3.8,
 126: 2.3,
 127: 3.3,
 128: 3.5,
 129: 3.2,
 130: 3.1,
 131: 3.3,
 132: 2.8,
 133: 2.6,
 134: 3.7,
 135: 3.0,
 136: 3.5,
 137: 3.3,
 138: 3.3,
 139: 3.1,
 140: 3.3,
 141: 3.5,
 142: 3.1,
 143: 2.1,
 144: 3.5,
 145: 3.3,
 146: 2.9,
 147: 3.6,
 148: 2.9,
 149: 3.7,
 150: 3.9,
 151: 3.5,
 152: 3.1,
 153: 2.9,
 154: 3.8,
 155: 3.4,
 156: 3.5,
 157: 2.8,
 158: 2.9,
 159: 3.4,
 160: 2.6,
 161: 3.7,
 162: 4.0,
 163: 3.4,
 164: 3.5,
 165: 3.5,
 166: 2.8,
 167: 3.2,
 168: 3.1,
 169: 2.3,
 170: 3.2,
 171: 3.6,
 172: 2.7,
 173: 2.5,
 174: 2.5,
 175: 3.5,
 176: 3.9,
 177: 2.9,
 178: 3.4,
 179: 2.8,
 180: 3.6,
 181: 1.9,
 182: 3.1,
 183: 3.4,
 184: 3.1,
 185: 3.1,
 186: 2.9,
 187: 3.5,
 188: 3.3,
 189: 3.0,
 190: 3.6,
 191: 2.7,
 192: 3.0,
 193: 2.2,
 194: 3.8,
 195: 3.1,
 196: 2.9,
 197: 3.1,
 198: 3.4,
 199: 3.8,
 200: 2.8,
 201: 3.0,
 202: 3.0,
 203: 3.1,
 204: 2.9,
 205: 3.5,
 206: 3.5,
 207: 3.4,
 208: 2.9,
 209: 2.8,
 210: 2.9,
 211: 3.6,
 212: 2.6,
 213: 4.0,
 214: 4.0,
 215: 3.8,
 216: 3.3,
 217: 2.7,
 218: 3.3,
 219: 3.6,
 220: 2.4,
 222: 3.5,
 223: 3.9,
 224: 3.4,
 225: 3.3,
 226: 2.8,
 227: 3.1,
 228: 2.7,
 229: 3.6,
 230: 3.6,
 231: 3.0,
 232: 4.0,
 233: 3.5,
 234: 2.7,
 235: 3.7,
 236: 3.3,
 237: 3.2,
 238: 3.2,
 239: 3.1,
 240: 2.9,
 241: 3.0,
 242: 3.4,
 243: 2.5,
 244: 2.4,
 245: 3.0,
 246: 4.0,
 247: 3.8,
 248: 3.0,
 249: 3.7,
 250: 3.0,
 251: 3.1,
 252: 3.2,
 253: 3.5,
 254: 2.9,
 255: 2.3,
 256: 2.7,
 257: 3.4,
 258: 2.6,
 259: 3.1,
 260: 4.2,
 261: 3.6,
 262: 3.8,
 263: 3.7,
 264: 3.3,
 265: 3.9,
 266: 3.5,
 267: 2.9,
 268: 3.3,
 269: 3.5,
 270: 3.2,
 271: 3.3,
 272: 3.8,
 273: 3.1,
 274: 2.9,
 275: 2.7,
 276: 3.0,
 277: 3.4,
 278: 3.0,
 279: 3.7,
 280: 3.7,
 281: 3.7,
 282: 3.4,
 283: 3.1,
 284: 2.9,
 285: 2.3,
 286: 2.0,
 287: 3.2,
 288: 3.2,
 289: 3.3,
 290: 4.0,
 291: 2.3,
 292: 3.4,
 293: 4.1,
 294: 3.2,
 295: 2.8,
 296: 4.2,
 297: 3.1,
 298: 3.5,
 299: 3.7,
 300: 3.7,
 301: 3.5,
 302: 3.8,
 303: 3.0,
 304: 3.2,
 305: 2.7,
 306: 4.1,
 307: 4.0,
 308: 3.9,
 309: 3.6,
 310: 2.8,
 311: 2.7,
 312: 2.6,
 313: 3.0,
 314: 3.8,
 315: 2.9,
 316: 3.4,
 317: 3.1,
 318: 4.4,
 319: 3.8,
 320: 3.2,
 321: 3.8,
 322: 3.7,
 324: 3.7,
 325: 2.6,
 326: 4.1,
 327: 2.8,
 328: 3.2,
 329: 3.3,
 330: 2.8,
 331: 3.3,
 332: 2.8,
 333: 3.3,
 334: 3.8,
 335: 3.3,
 336: 2.9,
 337: 3.8,
 338: 3.0,
 339: 3.5,
 340: 3.4,
 341: 3.6,
 342: 3.5,
 343: 2.6,
 344: 3.0,
 345: 3.6,
 346: 3.4,
 347: 3.4,
 348: 3.7,
 349: 3.7,
 350: 3.5,
 351: 3.3,
 352: 3.3,
 353: 3.5,
 354: 3.2,
 355: 2.4,
 356: 4.0,
 357: 3.7,
 358: 3.2,
 359: 3.3,
 360: 2.7,
 361: 3.3,
 362: 3.4,
 363: 4.0,
 364: 3.8,
 365: 3.2,
 366: 3.0,
 367: 3.2,
 368: 3.4,
 369: 3.3,
 370: 3.0,
 371: 3.3,
 372: 3.3,
 373: 3.8,
 374: 2.4,
 375: 3.3,
 376: 3.3,
 377: 3.5,
 378: 3.1,
 379: 2.7,
 380: 3.5,
 381: 3.4,
 382: 3.0,
 383: 3.2,
 384: 3.0,
 385: 3.6,
 386: 2.8,
 387: 2.7,
 388: 3.6,
 389: 3.5,
 390: 3.4,
 391: 3.2,
 392: 3.3,
 393: 1.9,
 394: 3.3,
 395: 3.1,
 396: 2.5,
 397: 2.2,
 398: 3.4,
 399: 2.2,
 400: 2.5,
 401: 3.2,
 402: 2.9,
 403: 1.8,
 404: 3.3,
 405: 2.5,
 406: 3.1,
 407: 3.1,
 408: 3.2,
 409: 3.0,
 410: 3.0,
 411: 2.8,
 412: 3.6,
 413: 2.8,
 414: 2.6,
 415: 2.8,
 416: 2.7,
 417: 3.5,
 418: 2.7,
 419: 2.5,
 420: 2.7,
 421: 3.3,
 422: 3.2,
 423: 3.0,
 424: 2.7,
 425: 3.5,
 426: 3.1,
 427: 2.5,
 428: 3.8,
 429: 2.4,
 430: 2.3,
 431: 3.7,
 432: 2.7,
 433: 2.9,
 434: 3.1,
 435: 2.6,
 436: 2.6,
 437: 2.6,
 438: 2.7,
 439: 2.6,
 440: 3.6,
 441: 3.7,
 442: 3.0,
 443: 3.3,
 444: 2.4,
 445: 2.9,
 446: 3.9,
 447: 2.5,
 448: 3.6,
 449: 3.5,
 450: 3.4,
 451: 3.1,
 452: 3.6,
 453: 3.1,
 454: 3.5,
 455: 2.6,
 456: 3.8,
 457: 4.0,
 458: 3.2,
 459: 2.8,
 460: 2.4,
 461: 3.3,
 462: 2.6,
 463: 2.8,
 464: 2.9,
 465: 3.3,
 466: 2.9,
 467: 3.4,
 468: 3.3,
 469: 3.3,
 470: 2.1,
 471: 3.7,
 472: 2.9,
 473: 2.3,
 474: 3.7,
 475: 3.9,
 476: 3.0,
 477: 3.5,
 478: 2.4,
 479: 2.9,
 480: 3.7,
 481: 3.3,
 482: 3.4,
 483: 3.8,
 484: 2.8,
 485: 2.8,
 486: 2.7,
 487: 2.6,
 488: 3.4,
 489: 2.8,
 490: 3.4,
 491: 3.4,
 492: 3.7,
 493: 3.6,
 494: 3.4,
 495: 3.5,
 496: 3.3,
 497: 3.9,
 498: 2.8,
 499: 2.8,
 500: 3.4,
 501: 3.8,
 502: 2.3,
 503: 3.1,
 504: 3.0,
 505: 2.5,
 506: 3.5,
 507: 3.5,
 508: 3.8,
 509: 3.7,
 510: 2.7,
 511: 3.1,
 512: 2.9,
 513: 2.9,
 514: 3.5,
 515: 3.9,
 516: 3.1,
 517: 3.1,
 518: 2.7,
 519: 2.2,
 520: 3.0,
 521: 3.3,
 522: 3.6,
 523: 3.7,
 524: 3.5,
 525: 3.4,
 526: 3.2,
 527: 4.3,
 528: 2.8,
 529: 3.9,
 530: 3.1,
 531: 3.5,
 532: 3.1,
 533: 2.9,
 534: 3.9,
 535: 3.8,
 536: 3.3,
 537: 3.2,
 538: 3.7,
 539: 3.5,
 540: 2.7,
 541: 4.1,
 542: 2.9,
 543: 3.2,
 544: 2.9,
 545: 2.6,
 546: 2.1,
 547: 2.8,
 548: 2.9,
 549: 3.9,
 550: 3.1,
 551: 3.7,
 552: 3.2,
 553: 3.7,
 554: 3.1,
 555: 3.8,
 556: 4.0,
 558: 2.8,
 559: 2.9,
 560: 3.1,
 561: 3.5,
 562: 3.8,
 563: 3.4,
 564: 2.3,
 565: 3.2,
 566: 2.8,
 567: 3.3,
 568: 3.6,
 569: 2.9,
 570: 3.5,
 571: 3.6,
 572: 2.7,
 573: 3.4,
 574: 3.3,
 575: 3.0,
 576: 2.5,
 577: 2.8,
 579: 3.0,
 580: 3.1,
 581: 4.0,
 582: 3.4,
 583: 3.5,
 584: 3.0,
 585: 2.7,
 586: 3.1,
 587: 3.4,
 588: 3.7,
 589: 3.9,
 590: 3.7,
 591: 2.0,
 592: 3.4,
 593: 4.2,
 594: 3.6,
 595: 3.7,
 596: 3.5,
 597: 3.4,
 598: 3.6,
 599: 4.0,
 600: 3.0,
 601: 3.4,
 602: 4.0,
 603: 3.0,
 604: 1.9,
 605: 3.3,
 606: 2.6,
 607: 2.6,
 608: 4.1,
 609: 3.0,
 610: 3.4,
 611: 2.5,
 612: 2.7,
 613: 3.6,
 614: 3.1,
 615: 3.9,
 616: 3.4,
 617: 3.6,
 618: 2.8,
 619: 2.6,
 620: 3.4,
 621: 3.6,
 623: 3.1,
 624: 2.7,
 625: 3.3,
 626: 2.9,
 627: 3.5,
 628: 3.8,
 629: 3.1,
 630: 3.3,
 631: 2.7,
 632: 3.9,
 633: 3.4,
 634: 2.3,
 635: 3.6,
 636: 2.9,
 637: 2.8,
 638: 3.3,
 639: 2.9,
 640: 3.0,
 641: 2.5,
 642: 2.0,
 643: 2.2,
 644: 2.1,
 645: 3.6,
 647: 3.5,
 648: 3.4,
 649: 3.7,
 650: 3.5,
 651: 2.5,
 652: 3.0,
 653: 3.2,
 654: 2.8,
 655: 2.2,
 656: 2.9,
 657: 2.5,
 658: 3.0,
 659: 3.7,
 660: 3.0,
 661: 3.3,
 662: 3.2,
 663: 3.4,
 664: 3.1,
 665: 4.0,
 666: 3.5,
 667: 2.5,
 668: 4.1,
 670: 4.1,
 671: 3.7,
 672: 2.5,
 673: 2.7,
 674: 3.0,
 675: 2.1,
 676: 2.6,
 678: 4.1,
 679: 3.4,
 680: 3.6,
 681: 3.6,
 682: 3.2,
 683: 2.7,
 684: 2.5,
 685: 3.5,
 687: 3.0,
 688: 2.6,
 690: 3.3,
 691: 3.1,
 692: 2.3,
 693: 3.0,
 694: 3.0,
 695: 3.2,
 696: 3.2,
 697: 2.8,
 698: 2.8,
 699: 2.2,
 700: 3.3,
 701: 3.2,
 702: 3.8,
 703: 2.9,
 704: 2.8,
 705: 3.5,
 706: 3.1,
 707: 3.1,
 708: 3.4,
 709: 3.3,
 710: 2.7,
 711: 2.7,
 712: 3.5,
 713: 3.5,
 714: 3.9,
 715: 3.6,
 716: 3.0,
 717: 3.2,
 718: 3.4,
 719: 3.0,
 720: 4.1,
 721: 3.0,
 722: 3.6,
 723: 3.1,
 724: 3.1,
 725: 2.8,
 726: 3.1,
 727: 3.2,
 728: 3.8,
 729: 3.4,
 730: 3.1,
 731: 2.9,
 732: 2.8,
 733: 3.7,
 734: 2.6,
 735: 3.5,
 736: 3.2,
 737: 2.1,
 738: 3.1,
 739: 2.0,
 741: 3.9,
 742: 2.7,
 743: 2.7,
 744: 3.0,
 745: 4.2,
 746: 3.8,
 747: 2.3,
 748: 3.2,
 749: 2.7,
 750: 4.2,
 751: 3.5,
 752: 2.8,
 753: 3.3,
 754: 2.9,
 755: 3.4,
 756: 3.2,
 757: 3.7,
 758: 3.0,
 759: 3.9,
 760: 3.7,
 761: 2.8,
 762: 2.4,
 763: 3.0,
 764: 3.4,
 765: 3.0,
 766: 3.5,
 767: 3.5,
 768: 3.0,
 769: 3.6,
 770: 2.6,
 771: 3.4,
 772: 2.9,
 773: 3.3,
 774: 2.7,
 775: 2.9,
 776: 2.9,
 777: 2.8,
 778: 4.0,
 779: 2.8,
 780: 3.4,
 781: 3.4,
 782: 2.9,
 783: 3.3,
 784: 2.7,
 785: 3.3,
 786: 3.1,
 787: 3.8,
 788: 2.9,
 789: 3.0,
 790: 3.5,
 791: 3.6,
 792: 3.0,
 793: 3.2,
 794: 3.4,
 795: 3.2,
 796: 2.9,
 797: 3.4,
 798: 2.8,
 799: 3.4,
 800: 4.1,
 801: 3.0,
 802: 3.5,
 803: 3.6,
 804: 3.1,
 805: 3.7,
 806: 3.2,
 807: 3.3,
 808: 3.2,
 809: 2.9,
 810: 1.8,
 812: 2.4,
 813: 2.8,
 814: 3.1,
 815: 2.0,
 816: 3.2,
 818: 2.6,
 819: 3.4,
 820: 2.8,
 821: 3.0,
 822: 3.2,
 823: 3.3,
 824: 3.8,
 825: 2.7,
 826: 2.2,
 827: 3.1,
 828: 3.2,
 829: 2.7,
 830: 3.1,
 831: 3.5,
 832: 3.5,
 833: 2.7,
 834: 2.6,
 835: 3.2,
 836: 2.9,
 837: 3.4,
 838: 3.8,
 839: 2.7,
 840: 2.7,
 841: 3.7,
 842: 2.8,
 843: 3.3,
 844: 3.7,
 845: 3.4,
 846: 3.5,
 847: 2.8,
 848: 3.7,
 849: 2.7,
 850: 3.5,
 851: 3.5,
 852: 3.2,
 853: 3.3,
 854: 3.7,
 855: 2.8,
 856: 3.4,
 857: 3.3,
 858: 4.4,
 859: 2.3,
 860: 3.5,
 861: 3.5,
 862: 3.6,
 864: 3.3,
 865: 3.3,
 866: 3.7,
 867: 2.3,
 868: 3.1,
 869: 3.1,
 870: 2.2,
 871: 3.2,
 872: 3.5,
 873: 3.0,
 874: 3.1,
 875: 3.4,
 876: 2.7,
 877: 3.2,
 878: 2.8,
 879: 2.8,
 880: 2.5,
 881: 2.8,
 882: 3.0,
 884: 3.3,
 885: 2.7,
 886: 3.1,
 887: 2.9,
 888: 2.3,
 889: 3.4,
 890: 3.0,
 891: 2.6,
 892: 3.7,
 893: 3.7,
 894: 2.6,
 895: 3.0,
 896: 3.7,
 897: 3.7,
 898: 4.2,
 899: 4.1,
 900: 3.8,
 901: 3.6,
 902: 3.9,
 903: 4.1,
 904: 4.3,
 905: 4.2,
 906: 4.0,
 907: 3.9,
 908: 4.2,
 909: 4.0,
 910: 4.1,
 911: 4.1,
 912: 4.3,
 913: 4.2,
 914: 3.9,
 916: 4.1,
 917: 3.6,
 918: 3.7,
 919: 4.0,
 920: 3.8,
 921: 3.8,
 922: 4.3,
 923: 4.1,
 924: 4.0,
 925: 3.5,
 926: 4.2,
 927: 4.0,
 928: 4.1,
 929: 3.9,
 930: 4.2,
 931: 3.9,
 932: 3.8,
 933: 4.0,
 934: 3.5,
 935: 3.8,
 936: 4.0,
 937: 3.7,
 938: 3.6,
 939: 3.3,
 940: 3.9,
 941: 3.6,
 942: 4.1,
 943: 3.8,
 944: 3.8,
 945: 4.1,
 946: 4.0,
 947: 4.1,
 948: 3.7,
 949: 3.9,
 950: 4.2,
 951: 4.2,
 952: 3.5,
 953: 4.1,
 954: 4.0,
 955: 4.1,
 956: 3.5,
 958: 3.2,
 959: 3.7,
 960: 3.5,
 961: 3.4,
 962: 3.4,
 963: 3.6,
 964: 3.4,
 965: 4.0,
 966: 3.5,
 967: 2.8,
 968: 3.6,
 969: 4.1,
 970: 3.5,
 971: 3.9,
 972: 3.1,
 973: 3.9,
 974: 3.4,
 975: 2.9,
 976: 3.5,
 977: 2.0,
 979: 3.2,
 980: 3.1,
 981: 2.6,
 982: 3.7,
 983: 2.6,
 984: 2.7,
 985: 3.4,
 986: 3.5,
 987: 3.2,
 988: 3.4,
 989: 3.4,
 990: 2.7,
 991: 3.6,
 992: 2.7,
 993: 3.5,
 994: 4.0,
 996: 3.0,
 997: 3.6,
 998: 3.2,
 999: 3.3,
 1000: 3.1,
 1001: 2.7,
 1002: 3.5,
 1003: 3.1,
 1004: 2.7,
 1005: 2.5,
 1006: 3.2,
 1007: 2.9,
 1008: 3.3,
 1009: 3.1,
 1010: 3.1,
 1011: 2.7,
 1012: 3.6,
 1013: 3.4,
 1014: 3.4,
 1015: 3.3,
 1016: 3.1,
 1017: 3.5,
 1018: 3.1,
 1019: 3.5,
 1020: 3.2,
 ...}

In [ ]:
average_ratings_df = pd.DataFrame.from_dict(average_rating, orient ='index')
average_ratings_df.index.names = ['item']
average_ratings_df.columns = ['average_rating']

display(average_ratings_df)

In [59]:
preprocessed_dataset_folder = "./processed_data"

tags_df = tags_df.reset_index()

ratings_df.to_csv(preprocessed_dataset_folder + "/ratings.csv", index=False)
movies_df.to_csv(preprocessed_dataset_folder + "/movies.csv", index=False)

expert_users.to_csv(preprocessed_dataset_folder + "/expert_users.csv", index=False)
ratings_genres_df.to_csv(preprocessed_dataset_folder + "/ratings_genres.csv", index=False)

genre_df.to_csv(preprocessed_dataset_folder + "/genre.csv", index=False)
tags_df.to_csv(preprocessed_dataset_folder + "/tags.csv", index=False)

average_ratings_df.to_csv(preprocessed_dataset_folder + "/average_ratings.csv", index=True)