In [1]:
from IPython.display import display
import pandas as pd

data_folder = "./ml-20m"

ratings_df = pd.read_csv(data_folder + "/ratings.csv")
movies_df = pd.read_csv(data_folder + "/movies.csv")

ratings_df = ratings_df.rename(columns={'userId': 'user', 'movieId': 'item'})
movies_df = movies_df.rename(columns={'movieId': 'item', 'title': 'title_original'})

In [2]:
def compute_title_year(row):
    # read the title of the specified row, and cast it to the str type,
    # then use the strip() method to eliminate the spaces from the beginning and the end of the string
    title_original = str(row['title_original']).strip()

    # select the substring from the fifth-to-last (included) character to the last (excluded)
    year = title_original[-5:-1]

    # use the isdigit method to determine if the substring selected is a number
    if year.isdigit():
        # remove the year from the title
        # select the substring from the beninning to the sixth-to-last (excluded)
        # then use the strip() method to remove spaces at the beginning and at the end of the string
        # finally, use the lower() method to obtain the title in lower case
        title = title_original[:-6].strip().lower()

        # return the year and the title
        return int(year), title
    else:
        # nothing to do, return 0 as year and the title
        return 0, title_original.lower()


movies_df[['year', 'title']] = movies_df.apply(compute_title_year, axis=1, result_type='expand')

display(ratings_df)

            user   item  rating   timestamp
0              1      2     3.5  1112486027
1              1     29     3.5  1112484676
2              1     32     3.5  1112484819
3              1     47     3.5  1112484727
4              1     50     3.5  1112484580
...          ...    ...     ...         ...
20000258  138493  68954     4.5  1258126920
20000259  138493  69526     4.5  1259865108
20000260  138493  69644     3.0  1260209457
20000261  138493  70286     5.0  1258126944
20000262  138493  71619     2.5  1255811136

[20000263 rows x 4 columns]

In [17]:

count_ratings = ratings_df.groupby(['user']).count()
mean_num_ratings = count_ratings['rating'].mean()
print(count_ratings.mean())
expert_users = count_ratings.loc[count_ratings['rating'] > mean_num_ratings]
# an extra comment to push lol
display(expert_users)

item         144.41353
rating       144.41353
timestamp    144.41353
dtype: float64

        item  rating  timestamp
user
1        175     175        175
3        187     187        187
7        276     276        276
11       504     504        504
14       243     243        243
...      ...     ...        ...
138483   276     276        276
138484   148     148        148
138486   193     193        193
138490   151     151        151
138493   373     373        373

[36967 rows x 3 columns]