In [30]:
import pandas as pd
import numpy as np
from IPython.display import display

#import original data folder
data_folder = "C:\\Users\\roman\\OneDrive\\Bureau\\UM\\BA\\Y3\\P1\\RS\\Group Assignment\\archive"

#preparing movies
movies = pd.read_csv(data_folder + "\\movie.csv")
movies_df = movies.rename(columns={'movieId': 'movie_id', 'title': 'title', 'genres': 'genres'})
movies_df = movies_df[['movie_id', 'title', 'genres']]
display(movies_df)

#preparing ratings
ratings = pd.read_csv(data_folder + "\\rating.csv")
ratings_df = ratings.rename(columns={'userId': 'user_id', 'movieId': 'movie_id', 'rating': 'rating', 'timestamp': 'timestamp'})
ratings_df = ratings_df[['user_id', 'movie_id', 'rating']]
display(ratings_df)

#preparing movies_tags
genome_tags = pd.read_csv(data_folder + "\\genome_tags.csv")
genome_tags_df = genome_tags.rename(columns={'tagId': 'tag_id', 'tag': 'tag'})
movies_tags = pd.read_csv(data_folder + "\\genome_scores.csv")
movies_tags_df = movies_tags.rename(columns={'movieId': 'movie_id', 'tagId': 'tag_id', 'relevance': 'relevance'})

movies_tags_df.insert(2, "tag", genome_tags_df["tag"])
display(movies_tags_df)

#preparing users_tags
users_tags = pd.read_csv(data_folder + "\\tag.csv")
users_tags_df = users_tags.rename(columns={'userId': 'user_id', 'movieId': 'movie_id', 'tag': 'tag', 'timestamp': 'timestamp'})
users_tags_df = users_tags_df[['user_id', 'movie_id', 'tag']]
display(users_tags_df)

,movie_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

          user_id  movie_id  rating
0               1         2     3.5
1               1        29     3.5
2               1        32     3.5
3               1        47     3.5
4               1        50     3.5
...           ...       ...     ...
20000258   138493     68954     4.5
20000259   138493     69526     4.5
20000260   138493     69644     3.0
20000261   138493     70286     5.0
20000262   138493     71619     2.5

[20000263 rows x 3 columns]

          movie_id  tag_id           tag  relevance
0                1       1           007    0.02500
1                1       2  007 (series)    0.02500
2                1       3  18th century    0.05775
3                1       4         1920s    0.09675
4                1       5         1930s    0.14675
...            ...     ...           ...        ...
11709763    131170    1124           NaN    0.58775
11709764    131170    1125           NaN    0.01075
11709765    131170    1126           NaN    0.01575
11709766    131170    1127           NaN    0.11450
11709767    131170    1128           NaN    0.02175

[11709768 rows x 4 columns]

        user_id  movie_id            tag
0            18      4141    Mark Waters
1            65       208      dark hero
2            65       353      dark hero
3            65       521  noir thriller
4            65       592      dark hero
...         ...       ...            ...
465559   138446     55999        dragged
465560   138446     55999  Jason Bateman
465561   138446     55999         quirky
465562   138446     55999            sad
465563   138472       923  rise to power

[465564 rows x 3 columns]

In [31]:
movies_df = movies_df.drop_duplicates(subset='title', keep='first')

#join ratings to genres
ratings_genres_df = pd.merge(movies_df, ratings_df,  how='inner', left_on=['movie_id'], right_on = ['movie_id'])
ratings_genres_df = ratings_genres_df[['movie_id', 'user_id', 'rating', 'title', 'genres']]

#keep only users and genres
users_genres = ratings_genres_df.loc[:, ['user_id', 'genres']]

#new users only dataframe
users_df = users_genres.drop_duplicates(subset=['user_id'], keep='first')
users_df = users_df['user_id']
users_df = pd.DataFrame(users_df)
users_df = users_df.set_index('user_id')
users_df = users_df.sort_index(ascending=True)

users_genres = users_genres.set_index('user_id')
user_genres = users_genres.sort_values(by="user_id", ascending=True)

display(users_genres)
display(users_df)

                                              genres
user_id
3        Adventure|Animation|Children|Comedy|Fantasy
6        Adventure|Animation|Children|Comedy|Fantasy
8        Adventure|Animation|Children|Comedy|Fantasy
10       Adventure|Animation|Children|Comedy|Fantasy
11       Adventure|Animation|Children|Comedy|Fantasy
...                                              ...
79570                                         Comedy
79570                                         Comedy
28906                                      Adventure
65409                             (no genres listed)
133047                      Adventure|Fantasy|Horror

[19999685 rows x 1 columns]

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...]

[138493 rows x 0 columns]

In [ ]:
def count_rated_genres(user_id, df):

    users_genres = df.loc[user_id,:]
    rated_genres = set()

    for genre in users_genres.genres:
        rated_genres.update(genre.split('|'))

    return len(rated_genres)

users_rated_genres = []
for user in users_df.index:
     users_rated_genres.append(count_rated_genres(user, users_genres))

users_rated_genres_df = pd.DataFrame({
    'user_id' : users_df.index.tolist(),
    'rated_genres' : users_rated_genres
})

display(users_rated_genres_df)

In [ ]:
mean_rated_genres = np.mean(users_rated_genres)
print(mean_rated_genres)
users_rated_genres_df = users_rated_genres_df[users_rated_genres_df['rated_genres'] > mean_rated_genres]

display(users_rated_genres_df)

In [ ]:
count_ratings = ratings_df.groupby(['user_id']).count()
selected = count_ratings['rating'] > count_ratings['rating'].mean()
expert_users = count_ratings.loc[selected]
expert_users = pd.DataFrame(expert_users)
expert_users = expert_users.reset_index()
expert_users = expert_users.merge(users_rated_genres_df, how='inner', left_on='user_id', right_on='user_id')
#expert_users = expert_users.drop(['timestamp', 'item'], axis=1)
expert_users.rename(columns={'rating' : 'num_ratings'}, inplace=True)

display(expert_users)